.svgBg{
    background: url('../../assets/Delivery.svg');
    width: 90%;
    height: 200px;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.placer{
    margin-left: 250px;
}

.color{
    color: orange;
    font-weight: bold;
}