.wrapper{
    display: flex;
}

.contShadow{
    width: 500px;
    height: 300px;
    box-shadow: 0 10px 15px rgba(255, 166, 0,0.4);
    /* background: orange; */
    position: relative;
    top: 100px;
    left: 400px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border-radius: 10px;
}

.contShadow input{
    margin-bottom: 30px;
    margin-left: 100px;
    border-radius: 5px;
    border: 1px solid orange;
    color: #000;
}

.btn{
    margin-left: 170px;
}

.iconsPlace{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: yellowgreen; */
    box-shadow: 0 10px 15px rgba(255, 166, 0,0.4);
    margin-left: 40px;
    height: 100vh;    
}

.imgPreview{
    width: 300px;
    height: 300px;
    position: relative;
    top: 60px;
}